  <div class="layout layout--post">
    <main>
      <article class="post post--full">
        <div class="post__head">
          <span class="post__date">==[ {{date}} ]</span>
          <span class="post__rule"></span>
        </div>
        <h1 class="post__title">{{title}}</h1>
        <p class="post__tags"><span data-es="etiquetas:">tags:</span> {{tags}}</p>
        <div class="post__body">
{{body}}
        </div>
        <div class="post__foot"></div>
        <a class="post__more" href="/" data-es="&lt;&lt; volver">&lt;&lt; back</a>
      </article>
    </main>
  </div>
